{% extends 'base.html.twig' %}

{% block title %}Place Home{% endblock %}

{% block body %}

    <h2 class="body-menu">
        La meilleure façon de trouver une idée de plat de façon ludique
    </h2>
    </nav>
    <main class="main-home">
        <div id="spin">
            <a href="#">SPIN</a>
        </div>
        <img src="{{ asset('img/roulette.png') }}">
    </main>


{% endblock body %}